<div class="inner-header d-flex justify-content-between">
	<div class="clearfix">
		<h2 class="text-capitalize">{{subHeaderData?.productName}}</h2>
		<ol class="breadcrumb inner-header-breadrumb">
			<li class="breadcrumb-item" (click)="goBackThrice()">{{'products.products' | translate}}</li>
			<li class="breadcrumb-item" (click)="goBackTwice()">{{subHeaderData?.categoryName}}</li>
			<li class="breadcrumb-item" (click)="goBack()">{{subHeaderData?.subCategoryName}}</li>
			<li class="breadcrumb-item" aria-current="page">{{subHeaderData?.productName}}</li>
		</ol>
	</div>
</div>

<div class="container-fluid" id="page-container">
	<div class="d-flex justify-content-between align-items-center">
		<div class="form-group">
			<div class="input-group mb-0 search-box">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">
						<img src="assets/icons/search.svg">
					</span>
				</div>
				<input type="text" class="form-control" placeholder="{{ 'search' | translate}}" aria-label="Search"
					aria-describedby="basic-addon1" (keyup)="tableSetFilter('search', $event.currentTarget.value)">
			</div>
		</div>
		<!-- <div>
			<div ngbDropdown>
				<button class="btn" id="dropdownConfig" ngbDropdownToggle>
					<img src="../../../../assets/icons/filter.svg">
				</button>
			</div>
		</div> -->
	</div>
	<div class="my-3">
		<div class="table-responsive page-table text-nowrap">
			<table class="table table-borderless" datatable [dtOptions]="dtOptions" style="width:100%">
				<thead class="table-header no-border">
					<tr>
						<th scope="col">{{'products.supplierName' | translate}}</th>
						<th scope="col">{{'products.location' | translate}}</th>
						<th scope="col">{{'products.email' | translate}}</th>
						<th scope="col">{{'products.phone' | translate}}</th>
						<th scope="col">{{'products.createdOn' | translate}}</th>
					</tr>
				</thead>
				<tbody class="table-body">
					<ng-container *ngIf="dataList && dataList.length > 0">
						<tr *ngFor="let item of dataList;let i=index" (click)="navigateToProductView(item)">
							<td>
								<div>
									<!-- <img [src]="item?.logo || 'assets/images/placeholder_logo.png'"
										class="img-fluid image-profile"> -->
									<span class="px-2 text-capitalize">{{item?.name}}</span>
								</div>
							</td>
							<td> {{item?.city}}</td>
							<td>{{item?.email}}</td>
							<td>({{item?.mobileCode}}) {{item?.mobileNumber}}</td>
							<td class="font-roboto">{{item?.createdAt | date:'mediumDate'}}</td>
						</tr>
					</ng-container>
				</tbody>
				<ng-container *ngIf="(!dataList || dataList.length === 0) && !processing" class="table-body">
					<tr>
						<td class="text-center" colspan="5">{{ 'noData' | translate}}</td>
					</tr>
				</ng-container>
			</table>
		</div>
	</div>
</div>