.ng-select.ng-select-single ::ng-deep .ng-select-container {
  border: none !important;
  color: var(--grey-100) !important;
}

.ng-select.ng-select-single ::ng-deep .ng-select-container:hover {
  box-shadow: none !important;
}
.ng-select.ng-select-focused:not(.ng-select-opened)
  > ::ng-deep.ng-select-container {
  box-shadow: none !important;
}

