<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-lg-7">
        <div class="ibox ">
          <div class="ibox-content">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-6 col-sm-12">

                <div class="form-group"><label>{{'accountSettings.currentPassword' | translate}}</label> <input formControlName="currentPassword" type="password" placeholder="current password" class="form-control"></div>
                <div *ngIf="Submitted && f.currentPassword.errors?.required">
                  <span class="text-danger">current password is required</span>

                </div>
                  <div class="form-group"><label>{{'accountSettings.newPassword' | translate}}</label>
                    <input formControlName="password" type="password"
                           placeholder="New Password" class="form-control"></div>
                  <div *ngIf="Submitted && f.password.errors?.required">
                    <span class="text-danger">Password is required</span>

                  </div>
                  <div class="form-group"><label>{{'accountSettings.confirmPassword' | translate}}</label>
                    <input formControlName="confirmPassword"
                                           type="password"
                                           placeholder="Confirm Password"
                           class="form-control"></div>
                    <div *ngIf=" Submitted && f.confirmPassword.errors?.required">
                      <span class="text-danger">Confirm Password is required</span>
                    </div>
                    <div *ngIf=" Submitted && f.password.errors?.minlength">
                      <span class="text-danger">Password length should be 6 characters</span>
                    </div>
                    <div *ngIf="Submitted && changePasswordForm.errors?.mismatch">
                      <span class="text-danger">Password & Confirm Password are not matching</span>
                    </div>
                    <div *ngIf="Submitted && changePasswordFormErrors">
                      <span class="text-danger">{{changePasswordFormErrors}}</span>
                    </div>
                </div>

                </div>
                <div>
                  <button class="btn btn-lg btn-primary float-right m-t-n-xs" type="submit"><strong>Save</strong></button>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</form>
