.auth-box {
  width: 582px;
  min-height: 335px;
  padding: 46px 89px 50px;
  border-radius: 4px;
  background: var(--white);
  box-shadow: 1px 1px 18px var(--grey-200);
  position: absolute;
  left: 0;
  right: 0;
  top: 23vh;
  // bottom: 0;
  margin: auto;
  .form-group {
    > label {
      background: var(--white);
    }
  }
}

// verify otp styles

.verify-otp {
  width: 582px;
  min-height: 335px;
  padding: 46px 89px 50px;
  border-radius: 4px;
  background: var(--white);
  box-shadow: 1px 1px 18px var(--grey-200);
  position: absolute;
  left: 0;
  right: 0;
  top: 23vh;
  // bottom: 0;
  margin: auto;
  .form-group {
    > label {
      background: var(--white);
    }
  }
  .form-control {
    width: 63px;
    height: 50px;
    text-align: center;
    margin: 0 0px;
  }
}
