<app-header></app-header>
<div class="container" *ngIf="!emailSent">
  <div class="auth-box text-center">
    <h2>Email Address</h2>
    <p>Please enter your registered email address</p>
    <form [formGroup]="forgotPasswordForm">
      <div class="form-group mb-2 mt-5">
        <input type="email" class="form-control" autocomplete="off" id="exampleInputEmail1"
          placeholder="demo@eightysix.com" formControlName="email">
        <label for="exampleInputEmail1">Email address</label>
        <div class="text-left" *ngFor="let error of errorMessages.email">
          <ng-container
            *ngIf="form.email.hasError(error.type) && (form.email.dirty || form.email.touched) && submitted">
            <span class="error-message font-14">{{error.message}}</span>
          </ng-container>
        </div>
      </div>

      <div class="text-capitalize">
        <ng-container *ngIf="displayMessage!=null">
          <span class="error-message font-14">{{displayMessage}}</span>
        </ng-container>
      </div>

      <div class="mt-3">
        <button type="submit" (click)="onSubmit()" class="btn-theme btn-blue w-100 border-0">
          <span class="text-capitalize" *ngIf=" !loading">submit</span>
          <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </form>
  </div>
</div>
<app-verification [email]="form.email.value" *ngIf="emailSent"></app-verification>