<!-- <p>heat-map works!</p> -->

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="2" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
    [fullscreenControl]='true' [mapTypeControl]='true'>
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" [opacity]="marker.alpha"
        [markerDraggable]="true" (markerClick)="selectMarker($event)">
    </agm-marker>
    <agm-rectangle [north]="max('lat')" [east]="max('lng')" [south]="min('lat')" [west]="min('lng')">
    </agm-rectangle>
</agm-map>