.auth-box {
	max-width: 582px;
	min-height: 335px;
	padding: 46px 89px 50px;
	border-radius: 4px;
	background: var(--white);
	box-shadow: 1px 1px 18px var(--grey-200);
	position: absolute;
	left: 0;
	right: 0;
	top: 23vh;
	// bottom: 0;
	margin: auto;
	.form-group {
		> label {
			background: var(--white);
		}
		input[type="password"]::placeholder {
			font-size: 46px;
			opacity: 1;
			position: relative;
			top: 12px;
		}
		input::-moz-placeholder {
			font-size: 46px;
			opacity: 1;
		}
		input:-ms-input-placeholder {
			font-size: 46px;
		}
		input::-ms-input-placeholder {
			font-size: 46px;
		}
	}
}
