<app-header></app-header>
<div class="container">
  <div class="auth-box text-center">
    <h2>Reset Password</h2>
    <p>Set your new password</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4 mt-5">
        <label for="exampleInput1">New Password</label>

        <div class="input-group input-group-alternative">
          <input [type]="passwordType" class="form-control" autocomplete="off"
            placeholder="&#183;&#183;&#183;&#183;&#183;&#183;" formControlName="password"
            (change)="clearDisplayMessage()">
          <div class="input-group-append" (click)="onClickEye()">
            <span class="showPassword">
              <img *ngIf="!showEye" src="assets/icons/eye-fill.svg">
              <img *ngIf="showEye" src="assets/icons/eye-slash-fill.svg">
            </span>
          </div>
        </div>
        <div class="text-left" *ngFor="let error of errorMessages.password">
          <ng-container
            *ngIf="form.password.hasError(error.type) && (form.password.dirty || form.password.touched) && submitted">
            <span class="error-message font-14">{{error.message}}</span>
          </ng-container>
        </div>
      </div>

      <div class="form-group mb-2 mt-4">
        <label for="exampleInput2">Confirm Password</label>
        <div class="input-group input-group-alternative">
          <input [type]="passwordType2" class="form-control" autocomplete="off"
            placeholder="&#183;&#183;&#183;&#183;&#183;&#183;" formControlName="confirmPassword"
            (change)="clearDisplayMessage()">
          <div class="input-group-append" (click)="onClickEye2()">
            <span class="showPassword">
              <img *ngIf="!showEye2" src="assets/icons/eye-fill.svg">
              <img *ngIf="showEye2" src="assets/icons/eye-slash-fill.svg">
            </span>
          </div>
        </div>
      </div>

      <div class="text-capitalize">
        <ng-container *ngIf="displayMessage!=null">
          <span class="error-message font-14">{{displayMessage}}</span>
        </ng-container>
      </div>

      <div class="mt-3">
        <button type="submit" class="btn-theme btn-blue w-100 border-0">
          <span class="text-capitalize" *ngIf="!loading">Reset Password</span>
          <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </form>
  </div>
</div>