<div class="card">
    <div class="card-header border-0 bg-transparent d-flex">Best Selling Products<a class="btn-link ml-auto">View
            More</a></div>
    <div class="card-body pt-0">
        <div class="table-responsive fixed-height">
            <table class="table">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex image-and-text align-items-center">
                                <img src="assets/images/promo1.png" class="">
                                <div class="text-div">
                                    <h4 class="text-black-100">Onion</h4>
                                    <p class="text-gray-100">80 kg Sold</p>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="text-div">
                                <h4 class="text-black-100">AED 4,650</h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex image-and-text align-items-center">
                                <img src="assets/images/promo1.png" class="">
                                <div class="text-div">
                                    <h4 class="text-black-100">Potato</h4>
                                    <p class="text-gray-100">70 kg Sold</p>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="text-div">
                                <h4 class="text-black-100">AED 240</h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex image-and-text align-items-center">
                                <img src="assets/images/promo1.png" class="">
                                <div class="text-div">
                                    <h4 class="text-black-100">Red Chilli</h4>
                                    <p class="text-gray-100">65 kg Sold</p>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="text-div">
                                <h4 class="text-black-100">AED 240</h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex image-and-text align-items-center">
                                <img src="assets/images/promo1.png" class="">
                                <div class="text-div">
                                    <h4 class="text-black-100">Tomato</h4>
                                    <p class="text-gray-100">50 kg Sold</p>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="text-div">
                                <h4 class="text-black-100">AED 240</h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex image-and-text align-items-center">
                                <img src="assets/images/promo1.png" class="">
                                <div class="text-div">
                                    <h4 class="text-black-100">Cabbage</h4>
                                    <p class="text-gray-100">50 kg Sold</p>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="text-div">
                                <h4 class="text-black-100">AED 240</h4>
                            </div>
                        </td>
                    </tr>



                </tbody>
            </table>
        </div>
    </div>
</div>