<div class="inner-header d-flex justify-content-between">
	<div class="clearfix">
		<h2 class="text-capitalize">{{'sidebar.suppliers' | translate}}</h2>
		<ol class="breadcrumb inner-header-breadrumb">
			<li class="breadcrumb-item" [routerLink]="['/supplier']" routerLinkActive="router-link-active">
				{{'sidebar.suppliers' | translate}}</li>
			<li class="breadcrumb-item" aria-current="page">{{supplierData?.name}} </li>
		</ol>
	</div>
</div>

<div class="container-fluid px-0">

	<div class="card profile-head-card">
		<img [src]="getUrl()" class="card-top-image" data-testid="getUrl">
		<div class="profile" *ngIf="supplierData?.name">
			<div class="row justify-content-between ">
				<div class="col-7 d-flex align-items-center">
					<div>
						<div class="clearfix">
							<img [src]="supplierData?.logo || 'assets/images/placeholder_logo.png'"
								class="img-fluid user-profile">
						</div>
					</div>
					<div class="clearfix pl-2">
						<label class="mb-0 name">{{supplierData?.name}}</label>
						<p class="email">{{supplierData?.city}}, {{supplierData?.countryName}}
							<!-- &bull; 4.3
							<i class="fa fa-star text-orange-100 px-1"></i>
							<span class="grey-white-badge">Min Order AED 500</span> -->
						</p>
					</div>
				</div>
				<div class="col-5 d-flex" *ngIf="supplierData?.mobileNumber">
					<div class="media">
						<img src="assets/icons/phone-white.svg" class="mr-3" alt="...">
						<div class="media-body">
							<label class="mb-0 pb-0 text-white-100">{{'suppliers.phone' | translate}}</label>
							<p class="text-white-100">{{supplierData?.mobileNumber}}</p>
						</div>
					</div>
					<div class="media pl-3" style="cursor: pointer;" (click)="startChat()" data-testid="startChat">
						<img src="assets/icons/chat-white.svg" class="mr-3" alt="...">
						<div class="media-body">
							<label class="mb-0 pb-0 text-white-100">{{'restaurants.chat' | translate}}</label>
							<p class="text-white-100">{{'suppliers.withSupplier' | translate}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card-body py-0">
			<div class="d-flex align-items-center justify-content-between head" style="padding-left:120px;">
				<div class="clearfix">
					<ul ngbNav [(activeId)]="activeTab" class="nav nav-tabs w-100 flex-nowrap ov-scroll">
						<li class="nav-link text-nowrap" [ngbNavItem]="link.fragment" *ngFor="let link of links">
							<span [attr.data-testid]="link.title">
							<a ngbNavLink [routerLink]="link.fragment" 
								[queryParams]="{id:supplierData?.id,name:supplierData?.name}"
								routerLinkActive="router-link-active" class="text-capitalize">
								<img [src]="link.image" class="mr-2">
								{{ link.title }}
							</a>
						</span>
						</li>
					</ul>
				</div>
				<div class="clearfix">
					<div ngbDropdown class="drop-small">
						<button class="btn" id="dropdownConfig" ngbDropdownToggle>
							<img src="assets/icons/action-dot.svg" class="rotate90">
						</button>
						<div ngbDropdownMenu aria-labelledby="dropdownConfig">
							<button ngbDropdownItem (click)="openConfirmStatus()" data-testid="openConfirmStatus">
								<label>
									<img src="assets/icons/block-gray.svg" class="mx-2">
									<span *ngIf="supplierData?.status === 'active'">{{'suppliers.block' |
										translate}}</span>
									<span *ngIf="supplierData?.status === 'inactive'">Un-block</span>
								</label>
							</button>
							<button ngbDropdownItem (click)="openConfirmDelete()" data-testid="openConfirmDelete">
								<label>
									<img src="assets/icons/delete-gray.svg" class="mx-2">{{'suppliers.delete' |
									translate}}
								</label>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mt-3">
	<!-- render info/catalogue/order-history list -->
	<router-outlet></router-outlet>
</div>