<div class="tab-inner-div mt-4">
	<div class="card card-contact-person grey-200-bg my-3">
		<div class="card-body">
			<h5 class="text-black-100 text-capitalize">{{'suppliers.packaging' | translate}}</h5>
			<form>
				<div class="row row-cols-1 row-cols-lg-2 my-4">
					<div class="col-lg-6 col-md-6 col-sm-12 my-2" *ngFor="let _ of types.controls;index as i">
						<div class="d-flex justify-content-around align-items-center" [formGroup]="_">
							<div class="form-group form-group-custom m-1">
								<input type="text" class="form-control" id="formGroupExampleInput"
									placeholder="{{ 'enterHere' | translate}} {{'products.english_text' | translate}}" formControlName="name">
							</div>
							<div class="form-group form-group-custom m-1">
								<input type="text" class="form-control" id="formGroupExampleInput"
									placeholder="{{ 'enterHere' | translate}} {{'products.arabic_text' | translate}}" formControlName="Aname">
							</div>
							<div class="form-inline-btns">
								<button class="btn btn-red-badge" (click)="openConfirmDelete(_.value,i)">
									<i class="fa fa-times"></i>
								</button>
							</div>
							<div class="form-inline-btns" *ngIf="_.value.id && !_.enabled">
								<button class="btn btn-blue-badge" (click)="toggleField(i,_.value)">
									<i class="fa fa-pencil"></i>
								</button>
							</div>
							<div class="form-inline-btns" *ngIf="_.value.id === null || _.enabled">
								<button class="btn btn-green-badge" (click)="onSubmit()">
									<i class="fa fa-check"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-start mt-2" *ngIf="selectedIndex == null">
					<a class="text-capitalize text-blue-100" type="button" (click)="addType()">
						+ {{'userManagement.addNew'|translate}}
					</a>
				</div>
			</form>
		</div>
	</div>
</div>