.sidenav {
  width: 240px;
  background: var(--white);
  height: calc(100vh - 52px);
  overflow-y: auto;
  h5 {
    font-size: 12px;
    padding: 10px 15px;
    line-height: 2.67;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      cursor: pointer;
      font-family: var(--font-helvetica);
      text-transform: capitalize;
      a {
        padding: 10px 15px;
        display: block;
        color: var(--gray-700);
        font-size: 16px;
        letter-spacing: 0.15px;
        span {
          opacity: 0.9;
        }
        img {
          width: 24px;
          filter: grayscale(1);
        }
      }
    }
    .active {
      background-color: rgba(11, 114, 207, 0.08);
      a {
        color: var(--blue-100) !important;
      }
      border-right: 3px solid var(--blue-100);
      a img {
        fill: var(--blue-100) !important;
        filter: none;
      }
      span {
          opacity:1 !important;
        }
    }
  }
  .side-open {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--grey-300);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey-200);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-100);
}
.fa-language{
  font-size: 18px;
}
@media (max-width: 768px) {
  .side-open {
    display: block !important;
  }
  .side-open {
    position: fixed;
    left: -49px;
    top: 39vh;
    box-shadow: 1px 1px 6px #484848;
    z-index: 999;
    filter: invert(1);
    transform: rotate(-90deg);
    padding: 0px 3px;
    width: 100px;
    text-align: center;
    background: #000;
    border-radius: 0px 0 11px 11px;
    img {
      width: 20px;
    }
  }
}
