<div class="inner-header d-flex justify-content-between">
    <div class="clearfix">
        <h2 class="text-capitalize">{{'onBoarding.onBoarding' | translate}}</h2>
        <ol class="breadcrumb inner-header-breadrumb">
            <li class="breadcrumb-item" aria-current="page">{{'onBoarding.onBoarding' | translate}}</li>
        </ol>
    </div>
    <div class="clearfix">
        <button class="btn btn-theme btn-blue text-capitalize px-4" (click)="addUser()" data-testid="add-user">
            <img src="assets/icons/plus-white.svg"> {{'onBoarding.createNew' | translate}}
        </button>
    </div>
</div>

<div class="container-fluid" id="page-container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="form-group">
            <div class="input-group mb-0 search-box">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <img src="assets/icons/search.svg">
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="{{ 'search' | translate}}" aria-label="Search" data-testid="search-field"
                    aria-describedby="basic-addon1" (keyup)="tableSetFilter('search', $event.currentTarget.value)">
            </div>
        </div>
        <div>
            <div ngbDropdown>
                <button class="btn" id="dropdownConfig" ngbDropdownToggle>
                    <img src="../../../../assets/icons/filter.svg">
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                    <h6 class="pl-4 text-black-100">{{'onBoarding.status' | translate}}</h6>
                    <button class="text-capitalize" ngbDropdownItem>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2"
                                (change)="setFilter('all',$event.target.checked,'status')"
                                [checked]="activeFilters.status.length === 2">
                            <label class="custom-control-label" for="customCheck2">{{'orders.all' |
                                translate}}</label>
                        </div>
                    </button>
                    <button class="text-capitalize" ngbDropdownItem>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck3"
                                (change)="setFilter('unapproved',$event.target.checked, 'status')"
                                [checked]="activeFilters.status.includes('unapproved')">
                            <label class="custom-control-label" for="customCheck3">
                                {{'unapproved' |translate}}
                            </label>
                        </div>
                    </button>
                    <button class="text-capitalize" ngbDropdownItem>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck4"
                                (change)="setFilter('rejected',$event.target.checked,'status')"
                                [checked]="activeFilters.status.includes('rejected')">
                            <label class="custom-control-label" for="customCheck4">
                                {{'rejected' |translate}}
                            </label>
                        </div>
                    </button>
                    <h6 class="pl-4 text-black-100">{{'onBoarding.type' | translate}}</h6>
                    <button class="text-capitalize" ngbDropdownItem>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck5"
                                (change)="setFilter('all',$event.target.checked,'type')"
                                [checked]="activeFilters.type.length === onBoardingType.length">
                            <label class="custom-control-label" for="customCheck5">{{'orders.all' |
                                translate}}</label>
                        </div>
                    </button>
                    <button *ngFor="let p of onBoardingType" class="text-capitalize" ngbDropdownItem>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [id]="p?.role"
                                (change)="setFilter(p?.role,$event.target.checked, 'type')"
                                [checked]="activeFilters.type.includes(p.role)">
                            <label class="custom-control-label" [for]="p?.role">{{p?.title}}</label>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3">
        <div class="table-responsive page-table text-nowrap">
            <table class="table table-borderless" datatable [dtOptions]="dtOptions" style="width:100%">
                <thead class="table-header no-border">
                    <tr>
                        <th class="pl-2" scope="col">{{'onBoarding.type' | translate}}</th>
                        <th scope="col">{{'onBoarding.restaurantSupplierName' | translate}}</th>
                        <th scope="col">{{'onBoarding.status' | translate}}</th>
                        <th scope="col">{{'onBoarding.date' | translate}}</th>
                        <th scope="col">{{'onBoarding.time' | translate}}</th>
                        <!-- <th scope="col">action</th> -->
                    </tr>
                </thead>
                <tbody class="table-body" *ngIf="dataList && dataList.length">
                    <tr *ngFor="let item of dataList;let i=index"
                        [ngClass]="{'yellow-100-bg': item?.supplier?.isOnBoarded === false}">
                        <td class="pl-2" (click)="editUser(item)">{{'onBoarding.'+checkType(item) | translate}}</td>
                        <td (click)="editUser(item)">
                            <div>
                                <!-- <img [src]="item?.company?.logo || item?.restaurant?.logo || 'assets/images/placeholder_logo.png'"
                                                                class="img-fluid image-profile"> -->
                                <span *ngIf="selectedLang == 'en'">
                                    <span *ngIf="item?.company?.nameTranslation?.en || item?.restaurant?.nameTranslation?.en ||
                                                                    item?.supplier?.nameTranslation?.en">{{item?.company?.nameTranslation?.en || item?.restaurant?.nameTranslation?.en ||
                                        item?.supplier?.nameTranslation?.en |truncate:18}}</span>
                                    <span *ngIf="!item?.company?.nameTranslation?.en && !item?.restaurant?.nameTranslation?.en &&
                                                                    !item?.supplier?.nameTranslation?.en">{{item?.company?.nameTranslation?.ar ||
                                        item?.restaurant?.nameTranslation?.ar ||
                                        item?.supplier?.nameTranslation?.ar |truncate:18}}</span>
                                </span>
                                <span *ngIf="selectedLang == 'ar'">
                                    <span *ngIf="!item?.company?.nameTranslation?.en || !item?.restaurant?.nameTranslation?.en ||
                                                                    !item?.supplier?.nameTranslation?.en">
                                        {{item?.company?.nameTranslation?.ar || item?.restaurant?.nameTranslation?.ar ||
                                        item?.supplier?.nameTranslation?.ar |truncate:18}}</span>
                                    <span *ngIf="!item?.company?.nameTranslation?.ar && !item?.restaurant?.nameTranslation?.ar &&
                                                                    !item?.supplier?.nameTranslation?.ar">
                                        {{item?.company?.nameTranslation?.en || item?.restaurant?.nameTranslation?.en ||
                                        item?.supplier?.nameTranslation?.en |truncate:18}}
                                    </span>
                                </span>
                            
                            </div>
                        </td>
                        <td (click)="editUser(item)" data-testid="edi-user">
                            <img src="assets/icons/status-rejected.svg"
                                *ngIf="item?.company?.status === 'rejected' || item?.restaurant?.status === 'rejected' || item?.supplier?.status === 'rejected'"
                                class="img-fluid status-circle">
                            <img src="assets/icons/status-pending.svg"
                                *ngIf="item?.company?.status === 'unapproved' || item?.restaurant?.status === 'unapproved' || item?.supplier?.status === 'unapproved'"
                                class="img-fluid status-circle">
                            <!-- {{item?.company?.status || item?.restaurant?.status ||
                            item?.supplier?.status}} -->
                            <span *ngIf="item?.company?.status === 'unapproved' || item?.restaurant?.status === 'unapproved' ||item?.supplier?.status === 'unapproved'">{{'unapproved' | translate}}</span>
                            <span *ngIf="item?.company?.status === 'rejected' || item?.restaurant?.status === 'rejected' || item?.supplier?.status === 'rejected'">{{'rejected' | translate}}</span>
                        </td>
                        <td class="font-roboto" (click)="editUser(item)">
                            {{item?.company?.joinedAt || item?.restaurant?.joinedAt ||
                            item?.supplier?.joinedAt|
                            date:'mediumDate'}}</td>
                        <td class="font-roboto dir-ltr" (click)="editUser(item)">
                            {{item?.company?.joinedAt || item?.restaurant?.joinedAt ||
                            item?.supplier?.joinedAt |
                            date:'shortTime'}}</td>
                        <!-- <td>
                                <div class="d-flex action-btns">
                                    <a class="mr-2" (click)="openReject(item)">
                                        <img src="assets/icons/action-cross-red.svg">
                                    </a>
                                    <a class="" (click)="openConfirm(item)"><img
                                            src="assets/icons/action-checked-green.svg">
                                    </a>
                                </div>
                            </td> -->
                    </tr>
                </tbody>
                <ng-container *ngIf="(!dataList || dataList.length === 0) && !processing" class="table-body">
                    <tr>
                        <td class="text-center" colspan="6">{{ 'noData' | translate}}</td>
                    </tr>
                </ng-container>
            </table>

        </div>
    </div>
</div>